body {
}
#robot-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    text-align: left;
    z-index: 9999;
    margin-left:40%;
    margin-top:40%;
}

#robot-image {
    width: 100%;
}




.Robbotiko {
   background-color:red;
}